.nav{
    position: absolute;
    top: 15%;
    
}

.nav-link{
    margin-top: 10px;
    border: 1px solid black;
}

.nav-link svg{
font-size: 18px;
}

.nav-link span{
    font-size: 18px;
   margin-top: 10px;
}

.tab-content{
    margin-left: 20%;
    width: 100%;
    margin-right: 3%;
}
label{
    font-weight: 500;
}