.nav{
    position: absolute;
    top: 25%;
    
}

.nav-link{
    margin-top: 10px;
    border: 1px solid black;
}

.nav-link svg{
font-size: 38px;
}

.nav-link span{
    font-size: 28px;
   margin-top: 10px;
}

.tab-content{
    margin-left: 20%;
}